html,
body {
    height: 100%;
}

body {
    background-image: url("/static/img/space_bkg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

img.logo {
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.75));
    filter:         drop-shadow(5px 5px 10px rgba(0,0,0,.75));
}

h1 {
    color: #fff;
}

.accordion-main {
    width: 100%;
    max-width: 636px;
    padding: 15px;
    margin: auto;
}